# TWiki grammar bound to Markdown and C/C++ styles
'name': 'TWiki'
'scopeName': 'source.twiki'
'fileTypes': [
  'twiki'
]
'patterns': [

  # *bold*
  {
    'begin': '(?<=^|[^\\w\\d\\*])\\*(?!$|\\*|\\s)'
    'end': '(?<!^|\\s)\\**\\*(?=$|[^\\w|\\d])'
    'name': 'markup.italic.twiki'
  }

  # _italic_
  {
    'begin': '(?<=^|[^\\w\\d_\\{\\}])_(?!$|_|\\s)'
    'end': '(?<!^|\\s)_*_(?=$|[^\\w|\\d])'
    'name': 'markup.italic.twiki'
  }

  # __bold italic__
  {
    'begin': '(?<=^|[^\\w\\d_])__(?!$|_|\\s)'
    'end': '(?<!^|\\s)__*_(?=$|[^\\w|\\d])'
    'name': 'markup.bold.twiki'
  }

  # =code=
  {
    'begin': '(?<=^|[^\\w\\d_])=(?!$|_|\\s)'
    'end': '(?<!^|\\s)=*=(?=$|[^\\w|\\d])'
    'name': 'markup.italic.code.twiki'
  }

  # ==bold code==
  {
    'begin': '(?<=^|[^\\w\\d_])==(?!$|_|\\s)'
    'end': '(?<!^|\\s)==*=(?=$|[^\\w|\\d])'
    'name': 'markup.bold.italic.code.twiki'
  }

  # unordered list *
  {
    'match': '^\\s*([*+-])[ \\t]+'
    'captures':
      '1':
        'name': 'variable.unordered.list.twiki'
  }

  # ordered list
  {
    'match': '^\\s*(\\d+\\.)[ \\t]+'
    'captures':
      '1':
        'name': 'variable.ordered.list.twiki'
  }

  # %variable%
  {
    'begin': '(?<=^|[^\\w\\d_])%(?!$|_|\\s)'
    'end': '(?<!^|\\s)%*%(?=$|[^\\w|\\d])'
    'name': 'entity.name.function.preprocessor.twiki'
  }

  # [[link][label]]
  {
    'begin': '\\[\\['
    'end': '\\]\\]'
    'name': 'string.quoted.other.lt-gt.include.twiki'
  }

  # anchor
  {
    'begin': '^#'
    'end': '$'
    'name': 'markup.bold.twiki'
  }


  # ---+ section
  # ...
  # ---+++++ section
  {
    'begin': '^---\\+{1}\\s*'
    'end': '$'
    'name': 'markup.bold.twiki'
  }

  # <!-- multiline comment -->
  {
    'begin': '<!--'
    'captures':
      '0':
        'name': 'punctuation.definition.comment.twiki'
    'end': '--\\s*>'
    'name': 'comment.block.gfm'
  }

  # !nolink
  # ... TODO

  # <nop>
  {
    'begin': '<'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.twiki'
    'end': '>'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.twiki'
    'name': 'string.quoted.other.lt-gt.include.twiki'
  }
]
